.DS_Store
.dart_tool/

.packages
.pub/

build/

pubspec.lock
/.dart_tool/*
test/files/test_process_message.txt
test/files/test_send_message.txt
test/files/test_subscription.txt
test/files/test_wait_for_transaction.txt
/tools/code_generator/output/*
